<!-- first page -->
<div class="bg-light">
  <!-- link section -->
  <div>
    <!-- home button -->
    <p class="fs-6  pt-4 ps-3" routerLink="home" appHoverRed type="button">Home</p>

    <!-- products button -->
    <div class="fs-6  pt-3 ps-3"
            type="button"
            appHoverRed
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">
            <div class="d-flex justify-content-between align-items-center " >
              Projects
              <i class="bi h4 bi-arrow-right-short p-0 m-0 me-2"></i>
            </div>
    </div>

    <!-- contact button -->
    <p class="fs-6  py-4 ps-3 border-bottom  m-0" type="button" appHoverRed >Contact</p>

  </div>

  <!-- help section -->
  <div>
    <!-- title -->
    <p class="fs-6 fw-bold  m-0  pt-4 ps-3" routerLink="home" type="button">CONTACT SECTION</p>

    <!-- phone -->
    <p class="fs-6  py-4 ps-3   m-0 d-flex align-items-center" appHoverRed type="button" >
      <i class="bi bi-telephone-outbound me-2 h4 m-0 p-0"></i>
      Call at 0722222222
    </p>
    <!-- mail -->
    <p class="fs-6  pb-4 ps-3 border-bottom  m-0 d-flex align-items-center" appHoverRed type="button" >
      <i class="bi bi-envelope-paper me-2 h4 m-0 p-0"></i>
      username.name@gamil.com
    </p>
  </div>

  <!-- Socials section -->
  <div>
    <!-- title -->
    <p class="fs-6 fw-bold  m-0  pt-4 ps-3" routerLink="home" type="button">SOCIALS</p>

    <!-- facebook -->
    <a href="#" class="fs-6 text-dark text-decoration-none  py-4 ps-3   m-0 d-flex align-items-center" type="button" >
      <i class="bi bi-facebook me-2 h3 m-0 p-0 text-secondary"></i>
      Facebook
    </a>

    <!-- instagram -->
    <a href="#" class="fs-6 text-dark text-decoration-none  pb-4 ps-3  m-0 d-flex align-items-center" type="button" >
      <i class="bi bi-instagram me-2 h3 m-0 p-0 text-secondary"></i>
      Instagram
    </a>

    <!-- youtube -->
    <a href="#" class="fs-6 text-dark text-decoration-none  pb-4 ps-3  m-0 d-flex align-items-center" type="button" >
      <i class="bi bi-youtube me-2 h3 m-0 p-0 text-secondary"></i>
      YouTube
    </a>

  </div>

</div>


<!-- off canvas (second page) -->
<div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

  <!-- close button -->
  <button type="button" class=" bg-light border-0 d-flex align-items-center py-3 border-bottom" appHoverRed data-bs-dismiss="offcanvas" aria-label="Close">

    <i class="ms-2 bi bi-arrow-left-short h4 p-0 m-0" style="padding-top: 1px !important;"></i>
    <div class="fs-6 ms-2">Back</div>
  </button>

  <!-- products section -->
  <div class="ms-2">

    <!-- Projects -->
    <a href="#" style="color:black" class="fs-6  text-decoration-none fw-bold d-block   m-0  mt-4 ms-3" >PROJECTS</a>

    <!-- all projects -->
    <a href="#" style="color:black" class="fs-6  text-decoration-none   d-block m-3 ms-3" appHoverRed>All Projects</a>

    <div *ngFor="let project of projects" >
      <!-- projects -->
      <a style="color:black" class="fs-6 text-decoration-none d-block m-3 ms-3" [href]="project.github" appHoverRed >{{project.title}}</a>
    </div>

  </div>

</div>
